<ion-view title="Home">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>

      <div class="source-post">
        <img src="img/testimage.jpg">
        <div class="source-post-details">
          <h2><a href="#/app/reader">New City found overnight and the view is amazing</a></h2>
          <p>Pat Riley</p>
          <a href="#">www.source.com</a>
          <p>I think that while this city has some cool qualities, the level that is required these days is just amazing.</p>
        </div>
      </div>


    </ion-list>
  </ion-content>
</ion-view>
