<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu width="75" side="left" class="source-menu">


    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">Login</ion-item>

        <a href="#/app/home"><img menu-close src="img/home.svg"></a>
        <a href="#/app/explore"><img menu-close src="img/explore.svg"></a>
        <a href="#/app/notifications"><img menu-close src="img/notify.svg"></a>
        <a href="#/app/profile"><img menu-close src="img/profile.svg"></a>

        <ion-item menu-close href="#/app/settings">Settings</ion-item>
      </ion-list>
    </ion-content>

  </ion-side-menu>
</ion-side-menus>
