// Menu
.source-menu {
  background-color: $src-grey;
  .menu-container {
    margin-top: 1em;
  }
  .menu--profile {
    img {
      border-radius: 6em;
      width: 100%;
    }

  }
  .menu-icon {
    text-align: center;
    img {border-bottom: 2px solid #535353;}
  }
  img {
    padding: 1em;
  }
}


// Titlebar
.bar.bar-stable {
  background-color: $src-grey;
  .title {
    color: #fff;
  }
  .button {
    color: #fff;
  }
}
