<ion-view title="Login" class="login">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

      <div class="list" ng-show="showLoginForm">

      <label class="item item-input">
        <span class="input-label">Email</span><input type="text" ng-model="em"/>
      </label>

      <label class="item item-input">
        <span class="input-label">Password</span><input type="password" ng-model="pwd"/>
      </label>

      <button class="button button-block button-positive" ng-click="login(em, pwd)">Login</button>
      </div>     

    <div class="card" ng-hide="showLoginForm">      
      <div class="item item-text-wrap">You are logged in as</div>                
    </div>

    <a><ng-click="logout()">Logout</p></a>

  </ion-content>
</ion-view>
