<ion-view title="Followers" class="followers">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  <ion-list ng-init="getFollowers()">
      <ion-item ng-repeat="users in users">

  <a class="item item-thumbnail-left" href="#/app/user/{{users._id}}">
      <img src="{{users.gravatarURL}}">
      <h2>{{users.username}}</h2>
    </a>



      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
