// Home

.home {
  .home-container {
    max-width: 640px;

  }
  .post {
  
    .post--thumb {
      width: 100%;
    }
    .post__overview {
      margin: 0 0.75em 0 0.75em;
    }
    .post__overview--title {
      a {text-decoration: none; color: $src-grey;}
    }
    .post__overview--user {}
    .post__overview--url {}
    .post__overview--summary{}

  }
}

@media (min-width: 640px) {
  .home {
    .home-container {
      margin-right: auto;
      margin-left: auto;
    }
    .post {
      .post__overview {
        margin: 0 0 0 0;
      }
    }

  }
}
