// Home

.home {
  .home-container {
    max-width: 640px;

  }
  .post {
  
    .post--thumb {
      width: 100%;
    }
    .post__overview {
      margin: 0 0.75em 0 0.75em;
    }
    .post__overview--title {
      a {text-decoration: none; color: $src-grey;}
    }
    .post__overview--user {
      img {
        width: 30px;
      }
      .post__overview--sourcetag {
        font-size: 1.5em;
      }
    }
    .post__overview--url {
      text-decoration: none;
    }
    .post__overview--summary{
      font-family: SourceSansPro-Light;
      font-size: 19px;
      color: #373636;
      line-height: 29px;
      margin-top: 10px;

    }


  }
}

@media (min-width: 640px) {
  .home {
    .home-container {
      margin-right: auto;
      margin-left: auto;
    }
    .post {
      .post__overview {
        margin: 0 0 0 0;
      }
    }

  }
}

