<ion-view title="S O U R C E" class="home">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon source-menu-icon"></button>

    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-ios7-plus-empty" ng-click="doSomething()"></button>
    </ion-nav-buttons>


  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="home-container">
      <ion-list>

        <div class="post">
          
          <img class="post--thumb" src="img/testimage.jpg">
          <div class="post__overview">

            <div class="post__overview--user">
              
              <img src="img/headshot.png">
               <h7 class="post__overview--sourcetag">Pat Riley</p>

            </div>

            <h2 class="post__overview--title"><a href="#/app/reader">New City found overnight and the view is amazing</a></h2>
            


            <a class="post__overview--url" href="#">www.source.com</a>
            <p class="post__overview--summary">I think that while this city has some cool qualities, the level that is required these days is just amazing.</p>
          </div>
        </div>


        <div class="post">
          <img class="post--thumb" src="img/testimage2.jpg">
          <div class="post__overview">
            <h2 class="post__overview--title"><a href="#/app/reader">Can you see the Forrest for the Trees</a></h2>
            <p class="post__overview--user">Daniel Boone</p>
            <a class="post__overview--url" href="#">www.nature-images.com</a>
            <p class="post__overview--summary">I recall stomping through woods that looked just like this, Things sure have come a long way since then.</p>
          </div>
        </div>


        <div class="post">
          <img class="post--thumb" src="img/testimage3.jpg">
          <div class="post__overview">
            <h2 class="post__overview--title"><a href="#/app/reader">The long road ahead</a></h2>
            <p class="post__overview--user">Pat Riley</p>
            <a class="post__overview--url" href="#">www.medium.com</a>
            <p class="post__overview--summary">A few reflections on what it means to design a web application and travel the world at the same time</p>
          </div>
        </div>

      </ion-list>
    </div>
  </ion-content>
</ion-view>
