<ion-view title="User" class="user">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content ng-init="getUser()" class="has-header">

    <div class="profile-canopy">
        <div class="profile-canopy--image">
            
        </div>
        
        <div class="profile-canopy--banner">
            <img style ="width: 100px; border-radius: 5em;" src="{{auth.profile.picture}}">
            <img src="{{gravatarURL}}" style="width: 50px; border-radius: 3em">
            <h2>{{username}}</h2>
            <p>Articles: {{ }}</p>
            <a href="#/app/user/{{user_id}}/followers"><p>Followers: {{followsNum}}</p></a>
            <a href="#/app/user/{{user_id}}/following"><p>Following: {{followersNum}}</p></a>
             <button class="button button-full" ng-click="followUser()">Follow</button>
            <button class="button button-full" ng-click="unfollowUser()">Unfollow</button>
        </div>

    </div>



    <ion-list ng-init="getUserFeed()">
      <ion-item ng-repeat="articles in articles">
        <div class="card">
          <div class="item item-divider">
            <h2>{{articles.title}}</h2>
            <p>{{articles.created}}</p>
            <p>{{articles._id}}</p>
          </div>
          <div class="item item-text-wrap">
            <a href="#/app/reader/{{articles._id}}">
              <img src="{{articles.imageUrl}}" style="width:100%">
            </a>
            <p>{{articles.summary}}</p>
          </div>
        </div>
      </ion-item>
    </ion-list>

    




  </ion-content>
</ion-view>
