<ion-view title="Landing" class="landing">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
 	
  	<div class="logo" style="text-align: center; padding: 2em;"><img src="img/source_logo.png"></div>
  	
	<a href="#/app/login"><button class="button button-full button-positive">
	 	Login
	</button></a>
	<a href="#/app/signup"><button class="button button-full button-positive">
	 	Signup
	</button></a>


  </ion-content>
</ion-view>
