/* Empty. Add your own CSS if you like */



input, textarea {
-webkit-user-select: text;
-moz-user-select: text;
-ms-user-select: text;
user-select: text;
}



.backdrop:not(.visible),
.loading-container:not(.visible) { display: none; }

