<ion-view title="Explore" class="explore">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon source-menu-icon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
     
		<!-- Button Bar -->
		<div class="button-bar">
		  <a class="button" ng-click="hello = hello">All</a>
		  <a class="button" ng-click="hello = !hello">Users</a>
		  <a class="button">Top</a>
		</div>

     	<!-- Search Bar -->
		<div class="list">
		  <div class="item item-input-inset">
		    <label class="item-input-wrapper">
		      <input type="text" placeholder="Email">
		    </label>
		    <button class="button button-small">
		      Submit
		    </button>
		  </div>
		</div>

	  <!-- Explore Feed -->


      <div class="list" style="xmax-width: 800px;" ng-init="getAllArticles()" ng-show="!hello">

        <a ng-repeat="articles in articles" 
           href="#/app/reader/{{articles._id}}"
           class="item item-thumbnail-left">

          <img src="{{articles.imageUrl}}">
          <h2>{{ articles.title }}</h2>
          <h4>{{ articles.username }}</h4>
          <img src="{{articles.gravatarURL}}" style="width: 20px; border-radius: 3em">
        </a>

      </div>

<!--       Users Feed -->
      <div class="list" style="xmax-width: 800px;" ng-init="getAllUsers()" ng-show="hello">

        <a ng-repeat="users in users" 
           href="#/app/user/{{users._id}}"
           class="item item-thumbnail-left">

          <img src="{{users.gravatarURL}}">
          <h2>{{ users.username }}</h2>
          <h4>{{ users.email }}</h4>
          <img src="{{articles.gravatarURL}}" style="width: 20px; border-radius: 3em">
        </a>

      </div>





    </ion-list>
  </ion-content>
</ion-view>
