// Reader

.reader {
  .container {
    max-width: 640px;
  }
  .reader--thumb {
    width: 100%;
  }
  .reader--title {
    margin: 10px 10px 10px 10px;
  }

  .reader--content{
    font-size: 2em;
    margin: 10px 10px 10px 10px;
    p {
      -webkit-font-smoothing: antialiased;
      color: rgba(0, 0, 0, 0.8);
      display: block;
      font-family: freight-text-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
      font-size: 20px;
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0.159999996423721px;
      line-height: 28px;
      margin-bottom: 30px;
      visibility: visible;
      word-wrap: break-word;
    }
  }
}

@media (min-width: 700px) {
  .reader {
    .container {
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }

  }
}