<ion-view title="Reader" class="reader">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">


      <div class="container">

        <img class="reader--thumb" src="img/testimage.jpg">


          <h2 class="reader--title">New City found overnight and the view is amazing</h2>
          <div class="reader--content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra neque nisi, nec eleifend orci cursus eu. Praesent ullamcorper lacus bibendum lacinia laoreet. Phasellus faucibus, est non ornare porttitor, nisi nisl cursus ipsum, a varius odio magna ac felis. Aenean quis dolor sit amet magna bibendum sollicitudin. Maecenas aliquam blandit ex, a maximus orci pulvinar a. Sed placerat nibh et libero scelerisque feugiat lobortis eu nulla. Fusce lacinia tincidunt suscipit. Vestibulum in mi non elit iaculis laoreet vitae at ipsum.</p>
            <p>Donec ante ligula, feugiat a bibendum ut, egestas imperdiet lectus. Nunc laoreet felis nec urna hendrerit maximus. Curabitur eget faucibus nulla. Vestibulum sit amet consequat lectus, at facilisis nulla. Etiam eget augue non orci volutpat finibus ut id urna. Etiam nec dolor dapibus, ullamcorper velit sit amet, facilisis lorem. Aenean felis lacus, laoreet vel augue a, luctus cursus nulla. Praesent imperdiet quam id sem tincidunt tincidunt. Praesent vehicula euismod hendrerit. Praesent iaculis et quam ac suscipit. Quisque non enim a elit sodales porttitor at quis purus. Nulla molestie augue id faucibus volutpat. Donec porta felis in porttitor varius. Donec pharetra tincidunt arcu. In ac ante purus. Mauris vestibulum accumsan porta.</p>
            <p>Cras fermentum semper urna ut porta. Aliquam id purus augue. Morbi lacus eros, scelerisque vehicula nibh sed, lobortis laoreet nibh. Curabitur non euismod dui, ac finibus risus. Suspendisse ligula mauris, ornare eget commodo a, eleifend sed ligula. Aenean at libero ullamcorper, dapibus arcu nec, aliquet neque. Phasellus tincidunt augue a enim finibus porta. Pellentesque consequat sem diam, sagittis tempor lorem tincidunt sagittis. Fusce a rutrum leo. Fusce ex lorem, varius quis gravida sed, semper eu ex. Donec vehicula nec tortor egestas convallis. Sed mollis fermentum gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas convallis ligula a nisi sagittis sagittis. Suspendisse tincidunt dui in varius imperdiet.</p>
            <p>Fusce tempus molestie nibh a mollis. Suspendisse in convallis turpis, et vestibulum est. Nullam hendrerit luctus nisl vel dapibus. Nunc imperdiet ligula at sapien sagittis, faucibus pulvinar nisl convallis. Phasellus sollicitudin in lorem vel ultricies. Donec ac nulla arcu. Aliquam imperdiet tellus metus, non sodales sem lobortis vel. Pellentesque aliquet blandit lacus, at pharetra augue consectetur consequat. Pellentesque lectus nisl, ultrices quis efficitur et, suscipit et sapien. Pellentesque euismod tristique ligula. Nam sit amet massa placerat, varius nulla a, tristique felis. Morbi et ornare ante. Donec eu mauris non est viverra laoreet. Nulla bibendum ut mauris eu porttitor.</p>
            <!-- <a href="#/app/discussion">Discuss this article</a> -->
          </div>

      </div>



  </ion-content>
</ion-view>
