<ion-view title="Signup" class="signup">
 
  <ion-content>

    <div class="list">

    <!-- Email -->
    <label class="item item-input">
      <span class="input-label">Email</span><input type="text" ng-model="signup.email">
    </label>

    <!-- Password -->
    <label class="item item-input">
      <span class="input-label">Password</span><input type="password" ng-model="signup.password">
    </label>

    <!-- Username -->
    <label class="item item-input">
      <span class="input-label">Username</span><input type="text" ng-model="signup.username">
    </label>

    <!-- signup button -->
    <label class="item item-input">
      <button ng-click="doSignup()"class="button button-block button-positive">
        Sign Up
      </button>
    </label>


    <button class="button button-stable">
      Sign in with facebook
    </button>

    <button class="button button-stable">
      Sign in with twitter
    </button>

    <a href="#/app/login">Login Here</a>

  </div>

  </ion-content>
</ion-view>
