<ion-view view-title="Add">

  <!-- Nav Bar -->
  <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
      <button class="button" ui-sref="tabs.home">Close</button>
      </ion-nav-buttons>
  </ion-nav-bar>



  
  <ion-content>

    	<div class="list list-inset">
    	  <label class="item item-input">
    	    <input type="text" ng-model="article.url" name="url" placeholder="url" required>
    	  </label>
    	  <label class="item item-input">
    	    <input type="text" ng-model="article.summary" name="summary" placeholder="User Summary" required>
    	  </label>
    	</div>

      <button class="button button-block button-warning" ng-click="addArticle()">
        Preview
      </button>


  </ion-content>
</ion-view>
