<ion-view view-title="Add New">

  <!-- Nav Bar -->
  <ion-nav-bar class="bar">
    <ion-nav-buttons side="left">
      <!-- <button class="button" ui-sref="tabs.home" ng-click="article.url = null; article.summary = null">Close</button> -->
      <i ui-sref="tabs.home" ng-click="article.url = null; article.summary = null" class="icon ion-ios-close-empty menu-icon-left"></i>
    </ion-nav-buttons>
  </ion-nav-bar>




  <ion-content>

    <!-- Show this to start -->
    <div class="list">
      <div ng-show="!showPublish" class="item preview-field">
        <div class="preview">Preview</div>
      </div>
    </div>



    <div  ng-show="showPublish" class="list">
      <div>
        <a class="item item-thumbnail-left">
          <img src="{{article.imageUrl}}">
          <h2>{{ article.title }}</h2>
        </a>
      </div>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">URL</span>
        <input ng-model="article.url" type="text" placeholder="" required>
      </label>
    </div>


      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">SUMMARY</span>
          <input ng-model="article.summary" type="text" placeholder="(if you must)" required>
        </label>
      </div>


    <button class="button button-block publish-button source-green" ng-click="addArticle()" ng-show="!showPublish">
      Preview Article
    </button>

    <button class="button button-block publish-button source-green" ng-click="publishArticle()" ng-show="showPublish">
      Post Article
    </button>

  </ion-content>
</ion-view>
