<ion-view view-title="Explore">

  <!-- Nav Bar -->



    <ion-nav-bar class="bar">

      <div class="tabs-striped tabs-top tabs-background">
          <div class="tabs top-shadow">
            <a class="tab-item active" ng-class="{ active: isSet(1) }" href="#" ng-click="setTab(1)">
              Recent
            </a>
            <a class="tab-item" href="#" ng-class="{ active: isSet(2) }" ng-click="setTab(2)">
              Users
            </a>
            <a class="tab-item" href="#" ng-class="{ active: isSet(3) }" ng-click="setTab(3)">
              Top
            </a>
          </div>
        </div>

    </ion-nav-bar>






  <!-- <ion-nav-bar class="bar">
    <div class="bar bar-subheader">
      <div class="button-bar">
        <a ng-class="{ active: isSet(1) }" class="button" ng-click="setTab(1)">Recent</a>
        <a ng-class="{ active: isSet(2) }"class="button" ng-click="setTab(2)">Users</a>
        <a ng-class="{ active: isSet(3) }" class="button" ng-click="setTab(3)">Top</a>
      </div>
    </div>
  </ion-nav-bar> -->


  <ion-content>

      <!-- ALL -->
      <div ng-show="isSet(1)">
        <div class="list" style="margin-top: 48px;" ng-init="getAllArticles()" >
          <a ng-repeat="articles in articles"
            ui-sref="tabs.readerExplore( { articleID: articles._id} )"
             class="item item-thumbnail-left">
            <img src="{{articles.imageUrl}}">
            <h2 class="no-text-wrap">{{ articles.title }}</h2>
            <p>{{ articles.shortUrl }}</p>
          </a>
        </div>
      </div>

      <!-- USERS -->
      <div ng-show="isSet(2)">
        <div class="list" style="margin-top: 48px;" ng-init="getAllUsers()">
          <a ng-repeat="users in users"  ui-sref="tabs.userExplore( { userID: users._id} )">
              <div class="item item-avatar" >
                <img src="{{users.gravatarURL}}">
                  <div class="float-left username" style="margin: 7px 0px;">{{users.username}}</div>
              </div>
          </a>
        </div>
      </div>

      <!-- TOP -->
      <div ng-show="isSet(3)">
        <div class="list"  style="margin-top: 48px;" ng-init="getTopLiked()" >
          <a ng-repeat="topArticles in topArticles"
            ui-sref="tabs.readerExplore( { articleID: topArticles._id} )"
             class="item item-thumbnail-left">
            <img src="{{topArticles.imageUrl}}">
            <h2>{{ topArticles.title }}</h2>
            <h2>{{ topArticles.shortURL }}</h2>
            <div class="float-right">
              <i ui-sref="saved" class="icon ion-ios-heart-outline inline-block"></i>
              <h4 class="inline-block">{{ topArticles.likes.length }}</h4>
            </div>
          </a>
        </div>
      </div>



  </ion-content>


</ion-view>
