<ion-view class="home">

  <!-- Nav Bar -->
  <ion-header-bar class="bar top-shadow opacity-95">
    <h1 class="title">S O U R C E</h1>
    <div class="buttons">
      <i ui-sref="saved" class="icon ion-bookmark menu-icon-right"></i>
    </div>
  </ion-header-bar>



  <ion-content class="has-header" scroll-event-interval="5" ng-init="getHomeFeed()">

    <!-- Refresher -->
    <ion-refresher
      pulling-text="Refreshing . . ."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="list article-card" ng-repeat="articles in articles" >
      <a href="#/tab/user/{{articles._userID}}">
          <div class="item item-avatar" >
            <img src="{{articles.gravatarURL}}">
              <div class="float-left username">{{articles.username}}</div>
              <p class="float-right date">{{ articles.created | date : 'short' : timezone}}</p>
          </div>
      </a>

      <a ui-sref="tabs.readerHome( { articleID: articles._id} )">
        <img class="full-image" src="{{articles.imageUrl}}">
      </a>


      <div class="article-card-inside">
          <h2 class="article-title">{{articles.title}}</h2>
          <p>{{articles.shortUrl}}</p>
          <p class="article-summary">{{articles.summary}}</p>
          <button class="button icon-left ion-ios-heart-outline button-clear padding-left-none" ng-click="likeArticle(articles)" ng-show="articles.isLikedByUser == false">Like</button>
          <button class="button icon-left ion-ios-heart button-clear padding-left-none" ng-click="unlikeArticle(articles)" ng-show="articles.isLikedByUser == true">Unlike</button>

          <button class="button icon-left ion-ios-star-outline button-clear" ng-click="saveForLater(articles._id)" ng-if="articles.isSavedByUser == false">Save For Later</button>
          <button class="button icon-left ion-ios-star button-clear" ng-click="deleteSaved(articles._id)" ng-if="articles.isSavedByUser == true">Remove</button>
      </div>
    </div>

  </ion-content>
</ion-view>
