<ion-view view-title="S O U R C E">





  <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="right">
      <button class="button" ui-sref="home.add">Add New</button>
      </ion-nav-buttons>
  </ion-nav-bar>






  <ion-content class="padding">

    <div class="list card">
      <div class="item item-divider">Article Title</div>
      <div class="item item-body">
        <div>
          This is the user summary
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Article Title</div>
      <div class="item item-body">
        <div>
          This is the user summary
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Article Title</div>
      <div class="item item-body">
        <div>
          This is the user summary
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Article Title</div>
      <div class="item item-body">
        <div>
          This is the user summary
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Article Title</div>
      <div class="item item-body">
        <div>
          This is the user summary
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Article Title</div>
      <div class="item item-body">
        <div>
          This is the user summary
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
