<ion-view view-title="Profile">
  <!-- Nav Bar -->
  <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="right">
      <button class="button" ui-sref="tabs.settings">Settings</button>
      </ion-nav-buttons>
  </ion-nav-bar>




  <ion-content ng-init="getProfile()">
  <div style="
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 100px;
    }">
      <img style ="width: 100px; border-radius: 5em;" src="{{auth.profile.picture}}">
  </div>

  <h2 style="text-align: center;">{{username}}</h2>

<div class="row">
  <div class="col">Articles: 0</div>
  <div class="col"><a href="#/app/profile/followers"><p>Followers: <p>{{followsNum}}</p></p><a></div>
  <div class="col"><a href="#/app/profile/following"><p>Following: <p>{{followersNum}}</p></p></a></div>
</div>



  </ion-content>


</ion-view>
