<ion-view view-title="reader">


  <!-- Nav Bar -->
  <!-- <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
      <button class="button" ui-sref="tabs.home">Close</button>
      </ion-nav-buttons>
  </ion-nav-bar> -->

  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="right">
      <button class="button" ng-click="saveForLater(articles._id)">Saved for Later</button>
      <button class="button" ng-click="likeArticle(article)">Like</button>
      <button class="button" ng-click="openWebView(article.url)">Web View</button>
    </ion-nav-buttons>
  </ion-nav-bar>


  <ion-content class="has-header" ng-init="getContent()">




      <div class="container">
        <h2 class="reader--title">{{articleTitle}}</h2>
        <p>{{articleDate | date : 'short' : timezone}}</p>
        <p>{{username}}</p>
        <p>{{article.url}}</p>

        <br />



        <img class="reader--thumb" src="{{articleImageUrl}}">
          <div class="reader--content">
            <p style="white-space: pre;">{{articleContent}}</p>
          </div>
      </div>



  </ion-content>



</ion-view>
