<ion-view view-title="Saved ({{savedArticlesNumber}})">

  <!-- Nav Bar -->
  <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
      <button class="button" ui-sref="tabs.home">Close</button>
      </ion-nav-buttons>
  </ion-nav-bar>




  <ion-content ng-init="getSaved()">

    <div class="list">

    <div ng-repeat="articles in articles">
      <a href="#/reader/{{articles._id}}"
         class="item item-thumbnail-left">

        <img src="{{articles.imageUrl}}">
        <h2>{{ articles.title }}</h2>
        <h4>{{ articles.username }}</h4>
        <img src="{{articles.gravatarURL}}" style="width: 20px; border-radius: 3em">

      </a>
      <button class="button button-small button" ng-click="deleteSaved(articles._id)">remove</button>
    </div>

    </div>

  </ion-content>
</ion-view>
