<ion-view view-title="Settings">
  <!-- Nav Bar -->
  <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="right">
      <button class="button" ng-click="logout()">Log Out</button>
      </ion-nav-buttons>
      <ion-nav-buttons side="left">
      <button class="button" ui-sref="tabs.profile">Back</button>
      </ion-nav-buttons>

  </ion-nav-bar>




  <ion-content ng-init="getProfile()">


    <h4>Welcome To Settings</h4>
    <p>Username: {{username}}</p>
    <p>Email: {{email}}</p>
    <p>Description: {{description}}</p>
    <!-- <p>Avatar:</p>  <img style ="width: 100px; border-radius: 5em;" src="{{auth.profile.picture}}"> -->


    <button class="button button-full button-dark" ui-sref="tabs.edit-settings">
      Edit Profile
    </button>
    <button class="button button-full button-dark">
      Change Password
    </button>

</ion-view>
