<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive">

  <!-- Home Tab -->
  <ion-tab title="Dash" icon-off="ion-ios-home" icon-on="ion-ios-home" ui-sref="tabs.home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <!-- Explore Tab -->
  <ion-tab title="Explore" icon-off="ion-android-compass" icon-on="ion-android-compass"ui-sref="tabs.explore">
    <ion-nav-view name="explore-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Add New" icon-off="ion-plus-circled" icon-on="ion-plus-circled" ui-sref="add">
    <ion-nav-view name="explore-tab"></ion-nav-view>
  </ion-tab>

  <!-- Notifications Tab -->
  <ion-tab title="Notifications" icon-off="ion-radio-waves" icon-on="ion-radio-waves" ui-sref="tabs.notifications">
    <ion-nav-view name="notifications-tab"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab title="Profile" icon-off="ion-person" icon-on="ion-person" ui-sref="tabs.profile">
    <ion-nav-view name="profile-tab"></ion-nav-view>
  </ion-tab>



</ion-tabs>
