// Profile

.profile {
  .profile-container {
    max-width: 640px;
    img {
		position: absolute;
		z-index: -1;
    }
    .profile-banner {
    	text-align: center;
		padding-top: 84px;
	padding-bottom: 232px;
		h2 {
			color: #fff;
		}
		h3 {
			color: #fff;
		}
    }
  }
}
