<ion-view title="Profile" class="profile">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon source-menu-icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <a href="#/app/settings"><button class="button button-icon icon ion-gear-a"></button></a>
    </ion-nav-buttons>
  <ion-content class="has-header">

    <div class="profile-canopy">
        <div class="profile-canopy--image">
            <img src="/img/profile.png">
        </div>
        
        <div class="profile-canopy--banner">
            <h2>Pat Riley</h2>
            <h3>Design, Music, Minamalism</h3>
            <button class="button source-clear">Follow</button>
        </div>

    </div>


    <div class="profile-container">
      <div class="list profile-recentpost">
        <a class="item item-thumbnail-left" href="#">
          <img src="img/testimage.jpg">
          <h2>Test Image</h2>
          <p>Summary</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="img/testimage2.jpg">
          <h2>Test Image</h2>
          <p>Summary</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="img/testimage3.jpg">
          <h2>Test Image</h2>
          <p>Summary</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="img/testimage3.jpg">
          <h2>Test Image</h2>
          <p>Summary</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="img/testimage3.jpg">
          <h2>Test Image</h2>
          <p>Summary</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="img/testimage.jpg">
          <h2>Test Image</h2>
          <p>Summary</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="img/testimage2.jpg">
          <h2>Test Image</h2>
          <p>Summary</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="img/testimage3.jpg">
          <h2>Test Image</h2>
          <p>Summary</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="img/testimage3.jpg">
          <h2>Test Image</h2>
          <p>Summary</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="img/testimage3.jpg">
          <h2>Test Image</h2>
          <p>Summary</p>
        </a>
      </div>


    </div>




  </ion-content>
</ion-view>
