<ion-view title="Reader" class="reader">


    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon source-menu-icon"></button>
    </ion-nav-buttons>



  <ion-content class="has-header" ng-init="getReader()">


      <div class="container">
        <h2 class="reader--title">{{articleTitle}}</h2>
        <img class="reader--thumb" src="{{articleImageUrl}}">
          <div class="reader--content">
            <p>{{articleContent}}</p>
          </div>
      </div>



  </ion-content>
</ion-view>
