<ion-view title="Profile" class="profile">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon source-menu-icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <a href="#/app/settings"><button class="button button-icon icon ion-gear-a"></button></a>
    </ion-nav-buttons>
  <ion-content ng-init="getProfile()" class="has-header">

    <div class="profile-canopy">
        <div class="profile-canopy--image">
            
        </div>
        
        <div class="profile-canopy--banner">
            <img style ="width: 100px; border-radius: 5em;" src="{{auth.profile.picture}}">
            <h2>{{username}}</h2>
            <p>Articles: {{ }}</p>
            <a href="#/app/following"><p>Followers: {{followsNum}}</p><a>
            <p>Following: {{followersNum}}</p>
        </div>

    </div>



    <ion-list ng-init="getProfileFeed()">
      <ion-item ng-repeat="articles in articles">
        <div class="card">
          <div class="item item-divider">
            <h2>{{articles.title}}</h2>
            <p>{{articles.created}}</p>
            <p>{{articles._id}}</p>
          </div>
          <div class="item item-text-wrap">
            <a href="#/app/reader/{{articles._id}}">
              <img src="{{articles.imageUrl}}" style="width:100%">
            </a>
            <p>{{articles.summary}}</p>
          </div>
        </div>
      </ion-item>
    </ion-list>
    




  </ion-content>
</ion-view>




