

<ion-view title="Settings" class="settings">

  <ion-nav-buttons side="left">

  </ion-nav-buttons>

  <ion-content>



    <!-- Full Name -->
    <label class="item item-input">
      <span class="input-label">Full Name</span><input type="text">
    </label>

    <!-- Username -->
    <label class="item item-input">
      <span class="input-label">Username</span><input type="text">
    </label>

    <!-- Tagline -->
    <label class="item item-input">
      <span class="input-label">Tagline</span><input type="text">
    </label>

    <!-- signup button -->
    <label class="item item-input">
      <button class="button button-block button-positive">
        Change Profile pic
      </button>
    </label>

    <!-- signup button -->
    <label class="item item-input">
      <button class="button button-block button-positive">
        Upload Banner Image
      </button>
    </label>

  </ion-content>
</ion-view>
