<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <!--  This took out the back button, but I think I might need to add it back in for a few pages
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button> -->
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu width="67" side="left" class="source-menu">


    <ion-content scroll="false">
      <ion-list class="menu-container">
        <!-- <ion-item menu-close ng-click="login()">Login</ion-item> -->
        <div class="menu--profile">
          <img src="img/headshot.png">
        </div>
        
        <div class="menu-icon">
          <a href="#/app/home"><img menu-close src="img/home.svg"></a>
        </div>

        <div class="menu-icon">
          <a href="#/app/explore"><img menu-close src="img/explore.svg"></a>
        </div>

        <div class="menu-icon">
          <a href="#/app/notifications"><img menu-close src="img/notify.svg"></a>
        </div>

        <div class="menu-icon">
          <a href="#/app/profile"><img menu-close src="img/profile.svg"></a>
        </div>

        <!-- <ion-item menu-close href="#/app/settings">Settings</ion-item> -->

      </ion-list>
    </ion-content>

  </ion-side-menu>
</ion-side-menus>
